*{
  margin: 0;
  padding: 0;
}
:root{
  --maincolor:darkgoldenrod;
}
body{
  background: black;
  color: white;
}
.container{
  margin: 5%;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo{
  font-weight: 1000;
  font-size: 30px;
  color: var(--maincolor);
}
.links{
  display: flex;
  margin-left: 7%;
  margin-right: 13%;
  font-size: 15px;
}
.home, .about, .contact{
  margin-left: 5%;
  margin-right: 5%;
}
.shop{
  background: var(--maincolor);
  color: black;
  font-weight: 800;
  padding: 7px;
  font-size: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}
.main{
  margin-top: 10%;
  width: 100%;
  display: flex;
}
.words{
  width: 50%;
  text-align: left;
}
h1{
  color: var(--maincolor);
}
h6, .shopnow{
  margin-top: 10%;
}
.pic{
  width: 50%;
}
.img{
  width: 100%;
  border-radius: 5px;
}
.shopnow{
  background: var(--maincolor);
  color: black;
  font-weight: 800;
  padding: 7px;
  font-size: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}
.additions{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}
.add{
  display: flex;
}
.quality, .collection, .shipping{
  width: 30%;
  margin-left: 3%;
  margin-right: 3%;
}
p{
  font-size: 12px;
  margin-top: 5%;
}