*{
  margin: 0;
  padding: 0;
}
body {
    font-size: 15px;
    background-image: url("1.jpeg");
    background-size: cover;
    color: white;
}
.container{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background:rgba(0,0,0,.8);
}
.card{
  text-align: center;
  animation: float 2s linear;
  margin: 10%;
}
h1{
  color: deepskyblue;
}
.btn{
  border: 1px solid white;
  outline: none;
  padding: 10px;
  color: white;
  background: black;
  margin-top: 30px;
  border-radius: 1.5em;
  cursor: pointer;
}
@keyframes float{
  0%{opacity: 0;}
  100%{opacity: 1;}
}
b{
  font-size: 8px;
  font-weight: 900;
  position: fixed;
  top:3%;
  left: 3%;
  color: royalblue;
}